
<!--
<div  style="width:300px;height: 200px;">
    <img id="temp4"   ng-mouseleave="templateChecker('temp4')" src="./images/banner.jpg" alt="image not available" width="300px" height="150px"/>
</div>-->
<style>
    #slideContainer
    {
         width: 350px;
         height: 300px;
        border: 1px solid black;
        margin: 0 auto;
        position: relative;
    }
    #slideContainer>img
    {
        width: 100%;
        height: 100%;

        position: absolute;

    }


    .btn{
        position: absolute;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 25px;
    }
    #btn1{
        position: relative;

    }
    #btn3{
        width: 200px;
        position: relative;
        border-radius: 10px;
    }
    .btnContainer{
        margin-top: 20px;
        margin-left: 25px;
    }
</style>
<div>
    <div id="slideContainer">
        <img ng-show="canvasJSON.bannerImageBool == 1" class="slide" src="./images/i1.png">
        <img ng-show="canvasJSON.bannerImageBool == 2" class="slide" src="./images/i2.png">
        <img ng-show="canvasJSON.bannerImageBool == 3" class="slide" src="./images/i3.png">
        <img ng-show="canvasJSON.bannerImageBool == 4" class="slide" src="./images/i4.png">
    </div>
    <div class="btnContainer">
        <button class="btn" id="btn1" ng-click="plusIndex(-1)" title="previous">&#10094;</button>
        <button class="btn" id="btn3">select</button>&nbsp;
        <button class="btn" id="btn2" ng-click="plusIndex(1)" title="next">&#10095;</button>
    </div>
</div>

