<style>
    .csvRecordsTable
    {
        margin-top: 181px;
        margin: auto;
        width: 60%;
        border: 1px solid black

    }
    th,td{

        padding: 10px;
    }
    th{
        background-color: #f08519;
        text-align: center;
        color: whitesmoke;
    }
    tr:nth-child(odd)
    {
        background-color:lightgray;
    }
    tr,td,th{
        border: 1px solid black;
        text-align: center;
    }
    .tableContainer{
        margin-top: 140px;
    }
    button{
        width: 150px;
        height: 50px;
        background-color: grey;
        border-radius: 5px;
    }
</style>
<div class="tableContainer">
    <table class="csvRecordsTable">
        <tr>
            <th>Sr</th>
            <th>FileName</th>
            <th>Headers</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>1</td>
            <td>shiv.csv<br>0 records</td>
            <td>street, city,state,zip,country</td>
            <td><button>view/edit data</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>ram.csv</td>
            <td>street, city,state,zip,country</td>
            <td><button>view</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>rahim.csv</td>
            <td>street, city,state,zip,country</td>
            <td><button>view</button></td>
        </tr>
        <tr>
            <td>4</td>
            <td>tata.csv</td>
            <td>street, city,state,zip,country</td>
            <td><button>view</button></td>
        </tr>
    </table>
</div>