<style>
    th,td{
        border:1px solid black;
    }
</style>

<div>
    <input type="file" ng-model-instant id="fileToUpload" name="file" accept=".csv" onchange="angular.element(this).scope().uplaodFile(event)" />
</div>
<div>
    <input type="checkbox" ng-model="business" ng-change="selectHeader()">Business
    <input type="checkbox" ng-model="street" ng-change="selectHeader()">Street
    <input type="checkbox" ng-model="city" ng-change="selectHeader()">City
    <input type="checkbox" ng-model="state" ng-change="selectHeader()">State
    <input type="checkbox" ng-model="zip" ng-change="selectHeader()">Zip
    <input type="checkbox" ng-model="country" ng-change="selectHeader()">Country
    <input type="checkbox" ng-model="lat" ng-change="selectHeader()">Lat
    <input type="checkbox" ng-model="long" ng-change="selectHeader()">Long
</div>
<div style="margin-top: 10px">
    <table style="width: 100%; border:1px solid black;;">
        <tr>
            <th>Business</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>zip</th>
            <th>country</th>
            <th>latitude</th>
            <th>longitude</th>
        </tr>
        <tr ng-repeat="x in list">
            <td>{{x.business}}</td>
            <td>{{x.street}}</td>
            <td>{{x.city}}</td>
            <td>{{x.state}}</td>
            <td>{{x.zip}}</td>
            <td>{{x.country}}</td>
            <td>{{x.lat}}</td>
            <td>{{x.long}}</td>
        </tr>
    </table>
</div>
</div>