<style>

    #divImage:hover{
        z-index: 2;
        visibility: visible;
        transition: .5s;


    }
    .placeholderImage {
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url({{canvasJSON.imagePlaceHolder}});
        margin-top: 34px;
        /*position:absolute;*/
        width: 400px;
        height:400px;

    }
</style>

<div draggable enabled="true">

<div
id="divImage"
resizable
resize-enable="true"
r-directions="['right','bottom', 'left', 'top']"
class="placeholderImage"
ng-mouseover="createIdFunction('divImage')"
style="margin-top: 34px;max-width:{{canvasJSON.widthCanvas}}px;max-height:{{canvasJSON.heightCanvas-100}}px;">
<div  tookit role="image"></div>
<!--message div start-->
<div draggable enabled="false">
<div style="cursor: pointer">
<p>{{canvasJSON.editableMessage}}</p>
</div>
</div>
<!--message div end-->

</div>
</div>