<style>

    .colorChange
    {
        width: 7%;
        height: 17px;

    }
    </style>
<div ng-show="editorShow" style="width:40%;margin-bottom: 360px;">
    <tr>
        <td>
    <input type="color" title="canvas-color-chooser" ng-model="canvasJSON.colorPickerCanvasBackground"  class="colorChange"/>
        </td>
        <td>
    <select title="font-face" ng-model="canvasJSON.selectFont" ng-init="canvasJSON.selectFont='Algerian'">
    <option ng-repeat="y in canvasJSON.fontArt">{{y}}</option>
    </select>
        </td>
    <td>
    <input type="color" title="font-color" class="colorChange" ng-model="canvasJSON.colorPickerFontColor">
        </td>
        <td>
    <input type="number" title="font-size" ng-model="canvasJSON.fontSize"/>
        </td>
        <td>
            <input type="color" class="colorChange" ng-model="canvasJSON.colorPickerFontBackgroundColor" title="font-background-color">
        </td>
        <td>
            <!--<ol>-->
            <!--<li  ng-repeat="contact in editableTextBox">-->
            <!--<div draggable >-->
                <!--<input type="text" ng-model="canvasJSON.editableText" />-->
            <!--</div>-->
            <!--</li>-->
            <!--</ol>-->
            <!--<br>-->
            <!--<input type="text" ng-model="canvasJSON.editableTitle"  title="insert your title here" placeholder="Title"/><br>-->
            <!--<input type="text" ng-model="canvasJSON.editableDescription"  title="insert your description here" placeholder="Description"/><br>-->
            <!--<input type="text" ng-model="canvasJSON.editableMessage"  title="insert your message here" placeholder="Message"/><br>-->

        </td>
        <!--<td>-->
            <!--<button type="button" ng-click="addEditableTextBox()">addText</button>-->
        <!--</td>-->
    <td>
        <button ng-click="divlistener()">resize</button>
    </td>
        <td colspan="2">
            <button>Image</button>
        </td>
        <td>
            <!--<input type="file"  img-cropper-fileread image="canvasJSON.imagePath" accept="image/*"  onchange="openFile(event)"   >-->
        </td>
        <td>
            <button ng-click="cropImage()">corpImage</button>
        </td>
    <td>
    <button ng-click="editor(0)">close</button>
    </td>
    </tr>

</div>