<style>
    .footer
    {

        background-color: #f5f5f5;
        color:white;
        width:100%;
        text-align: center;
        padding:10px;
        margin-left: 0px;
        padding: 1em;
    }
</style>

<div class="footer">
    <div style="display: inline-block"><img  style="float: left;margin-left: 155px;" src="./images/footer_logo.png"></div>
    &nbsp;&nbsp;
    <div style="display: inline-block;font-weight: bold;
    font-size: x-large;
    display: inline-block;
    font-style: normal;
    color: darkslategrey;
">The Leader in Mobile Marketing For Real Estate Professionals</div>
</div>
<div style="width: 100%; background-color:#f08519 ;color: white; padding: 5px">
    <span>Privacy&nbsp;&nbsp;|&nbsp;T&C&nbsp;|Contact Us</span>
</div>
