<style>
    .rectangle-map {
        width: 99.5%;
        height: 450px;
        position: relative;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
    }
    @media only screen and (min-width:1024px) and  (max-width: 1280px) {
        .rectangle-map {
            width: 99.5%;
            height: 400px;
            position: relative;
            border-style: solid;
            border-width: 1px;
            border-color: grey;
        }
    }
</style>

<div chalkfd map-id="map-canvas" class="rectangle-map" id="map-canvas"></div>