<style>
    /* The Modal (background) */
    .modal-editor {
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 0px; /* Location of the box */
        left: 0;
        top: 0;
        width: 30%; /* Full width */
        height: 40%; /* Full height */
        /*overflow: auto; !* Enable scroll if needed *!*/
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        top:250px;
        left: 400px;
    }

    /* Modal Content */
    .modal-content-editor {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0px;
        border: 1px solid #888;
        width: 100%;
        /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    /* The Close Button */
    .close-editor {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close-editor:hover,
    .close-editor:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header-editor {
        padding: 1px 4px;
        background-color:orangered;
        color: gainsboro;
    }

    .modal-body-editor {padding: 2px 16px;}

    .modal-footer-editor {
        padding: 1px 4px;
        background-color: orangered;
        color: gainsboro;
    }
</style>
<!-- The Modal -->
<div draggable enabled="true" class="modal-editor">
    <!-- Modal content -->
    <div class="modal-content-editor">
        <div class="modal-header-editor">
            <span class="close-editor" ng-click="closeEditor()">&times;</span>
            <h2>ToolKit for Edit your ads</h2>
        </div>
        <div class="modal-body-editor" >
            <tr>
                <td>
                    <input type="color" title="canvas-color-chooser" ng-model="canvasJSON.colorPickerCanvasBackground"  class="colorChange"/>
                </td>
                <td>
                    <select title="font-face" ng-model="canvasJSON.selectFont" ng-init="canvasJSON.selectFont='Algerian'">
                        <option ng-repeat="y in canvasJSON.fontArt">{{y}}</option>
                    </select>
                </td>
                <td>
                    <input type="color" title="font-color" class="colorChange" ng-model="canvasJSON.colorPickerFontColor">
                </td>
                <td>
                    <input type="number" title="font-size" ng-model="canvasJSON.fontSize"/>
                </td>
                <td>
                    <input type="color" class="colorChange" ng-model="canvasJSON.colorPickerFontBackgroundColor" title="font-background-color">
                </td>
                <td>
                    <!--<ol>-->
                    <!--<li  ng-repeat="contact in editableTextBox">-->
                    <!--<div draggable >-->
                    <!--<input type="text" ng-model="canvasJSON.editableText" />-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--</ol>-->
                    <br>
                    <input type="text" ng-model="canvasJSON.editableTitle"  title="insert your title here" placeholder="Title"/><br>
                    <input type="text" ng-model="canvasJSON.editableDescription"  title="insert your description here" placeholder="Description"/><br>
                    <input type="text" ng-model="canvasJSON.editableMessage"  title="insert your message here" placeholder="Message"/><br>

                </td>
                <!--<td>-->
                <!--<button type="button" ng-click="addEditableTextBox()">addText</button>-->
                <!--</td>-->
                <td>
                    <button ng-click="divlistener()">resize</button>
                </td>
                <td colspan="2">
                    <button ng-click="canvasJSON.imageShow =!canvasJSON.imageShow">Image</button>
                </td>
                <td>
                    <input type="file"  img-cropper-fileread image="canvasJSON.imagePath" ng-show="canvasJSON.imageShow" accept="image/*"  onchange="openFile(event)"  id="imgInp" >
                </td>
                <td>
                    <button ng-click="cropImage()">corpImage</button>
                </td>
                <td>
                    <button ng-click="editor(0)">close</button>
                </td>
            </tr>

        </div>
        <div class="modal-footer-editor">
            <h3>Chalk Ads.</h3>
        </div>
    </div>

</div>