<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="./css/resizableStyle.css" rel="stylesheet" type="text/css">
<link href="./css/toolkit.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="./css/xeditable.css" rel="stylesheet">
<script src="scripts/lib/xeditable/xeditable.js"></script>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf8"/>
        <base href="/"/>
        <title>Chalk Ads</title>
        <link rel="shortcut icon" href="favicon.ico" />
    </head>
    <body>
        <div  id="app-container"  ng-view></div>
        <script data-main="scripts/webapp.min.js" src="scripts/lib/requirejs/require.js"></script>
    </body>
</html>