
<style>
    .hoverIcon
    {
        visibility: visible;
        width: 100%;
        height: 100%;
        background: rgba(233, 77, 81,0.68);
        opacity: 2;
        z-index:-1;
        position: absolute;
        cursor: pointer;
        transition: .2s;
    }
</style>
<div class="hoverIcon">
<p style="color:whitesmoke;margin-top: 10%"><span type="file" ng-click="imageUploadFunction(canvasJSON.newImageId)" class="glyphicon glyphicon-upload" title="add Picture"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-edit" title="edit"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span ng-click="mainCanvasRefresh()" class="glyphicon glyphicon-refresh" title="refresh"></span>
</div>