
<style>
    .hoverIcon
    {
        visibility: visible;
        width: 100%;
        height: 100%;
        background: rgba(51, 46, 46, 0.68);
        position:absolute;
        opacity: 2;
        z-index:-2;
        cursor: pointer;
        transition: .2s;
    }
    .colorChange
    {
        width: 7%;
        height: 17px;

    }
</style>
<div class="hoverIcon"  id="maincanvasVisible">


    <p style="color:whitesmoke;margin-top: 8%"><span ng-click="createPlaceHolder()"  class="glyphicon glyphicon-picture" title="add Picture"></span>&nbsp;&nbsp;&nbsp;<span ng-click="mainCanvasRefresh()" class="glyphicon glyphicon-refresh" title="reset"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil" ng-click="editableTextMessage()" title="add text"></span>&nbsp;&nbsp;&nbsp;<span ng-click="mainCanvasBackgroundColor()" class="glyphicon glyphicon-star" title="canvas-background"></span>&nbsp;&nbsp;&nbsp;<span ng-click="createIdFunction('maincanvas');imageUploadFunction(canvasJSON.newImageId)" class="glyphicon glyphicon-upload" title="upload picture"></span></p>

    <input type="file" img-cropper-fileread image="canvasJSON.imagePath"  id="imageId" style="visibility: hidden" onchange="openFile(event)">
    <!--font background start-->
    <input type="color" style="visibility: hidden;" id="fontBackground" class="colorChange" ng-model="canvasJSON.colorPickerFontBackgroundColor" title="font-background-color">
    <!--font background end-->
    <!--main canvas background start-->
    <input type="color" style="visibility: hidden;" id="maincanvasbackground" ng-model="canvasJSON.colorPickerCanvasBackground"   class="colorChange"/>
    <!--main canvas background end-->
    <!--font color change start-->
    <input type="color" style="visibility: hidden;"  id="fontColor" class="colorChange" ng-model="canvasJSON.colorPickerFontColor">
    <!--font color change end-->
</div>