
<style>
    .textIcon
    {
        visibility: visible;
        width: 180px;
        height: 36px;
        background: rgba(51, 46, 46, 0.68);
        opacity: 2;
        z-index: -90;
        position: absolute;
        cursor: pointer;
        transition: .2s;
        top:40px;

    }


    #fontSize{
        width:50px;
        float: left;
        height:18px;
    }
</style>
<div  class="textIcon" id="textBoxToolkit" >
    <p style="color:whitesmoke;margin-top: 4%"><span   class="glyphicon glyphicon-text-size" ng-click="canvasJSON.fontSizeOption=!canvasJSON.fontSizeOption" title="text-size"></span>&nbsp;
        &nbsp;&nbsp;<span ng-click="canvasJSON.fontOption =! canvasJSON.fontOption;changeFontStyle()" class="glyphicon glyphicon-font" title="font-face"></span>
        &nbsp;&nbsp;&nbsp;<span ng-click="fontColorChange()"class="glyphicon glyphicon-text-color" title="text-color"></span>&nbsp;&nbsp;&nbsp;<span ng-click="openFontBackgroundChooser()"class="glyphicon glyphicon-text-background" title="text-background"></span>&nbsp;
        &nbsp;&nbsp;<span class="glyphicon glyphicon-refresh" ng-click="textBoxRefresh(0)" title="reset"></span>&nbsp;
        &nbsp;&nbsp;<span ng-click="deleteTextBox(canvasJSON.newTextBoxId)" class="glyphicon glyphicon-trash" title="delete"></span>
    <div style="background-color: rgba(226, 124, 19, 0.75); padding: 5px; margin-top: -10px">
        <input type="number" ng-show="canvasJSON.fontSizeOption" title="font-size" id="fontSize" ng-model="canvasJSON.fontSize"/>
        <select style="margin-top: 0px" ng-show="canvasJSON.fontOption" style="margin-left: 71px" title="font-face" ng-model="canvasJSON.selectFont">
            <option ng-repeat="y in canvasJSON.fontArt">{{y}}</option>
        </select>
    </div>

    <!--font background start-->
    <input type="color" style="visibility: hidden;" id="fontBackground" ng-model="canvasJSON.colorPickerFontBackgroundColor" title="font-background-color" onchange="openFontBackgroundChooser()">
    <!--font background end-->
    <!--main canvas background start-->
    <input type="color" style="visibility: hidden;" id="maincanvasbackground" ng-model="canvasJSON.colorPickerCanvasBackground"  />
    <!--main canvas background end-->
    <!--font color change start-->
    <input type="color" style="visibility: hidden;"  id="fontColor"  ng-model="canvasJSON.colorPickerFontColor">

    <!--font color change end-->
</div>
