
<style>

    .placeholderImage:{{canvasJSON.imageHoverEnable}}{
                    z-index: 2;
                    visibility: visible;
                    transition: .5s;


                }
    #maincanvas:{{canvasJSON.maincanvasHoverEnable}}
    {
        z-index: 2;
        visibility: visible;
         transition: .5s;

    }

     body{
         margin: 0px;
         padding: 0;

     }
    input {
        width: 65%;
    }
    th{

        border-bottom: 2px solid black;

    }
    .errorClass {
        border : 3px solid mediumspringgreen;
    }

</style>
<div ng-if="canvasJSON.errorMessage" ng-include src="'/partials/shared/errorMessage.html'"></div>
<div ng-if="openCroppableImage" ng-include src="'/partials/shared/crop.html'"></div>
<div style="width: 99.8%;height: 100%;">
<div ng-include src="'/partials/shared/navbar.html'"></div>

<div>
    <table style="border: 1px solid black; width:100%; height:479px; table-layout: fixed">
        <th style="width:50%;">Editor</th>
        <th style="width:20%;">Toolkit</th>
        <th style="width:30%;">Templates</th>
        <tr style="" >

            <td style="width:50%;height: 100%;background-color: #f5f7fa;">
                <div ng-show="canvasJSON.editToolkit" class="wrapper" style="margin-left:175px;margin-bottom: 221px;">
                    <span style="margin-left:{{canvasJSON.widthCanvas-130}}px" class="glyphicon glyphicon-edit" title="edit"></span>
                    <div class="toolkitIcon" style="color: whitesmoke; width: 280px;height: 60px;">
                        <span tookit role="maincanvas" >

                        </span>
                    </div>
                </div>
                <div
                         id="maincanvas"

                         ng-dblclick="divListener('maincanvas')"
                        resizable

                        resize-enable="canvasJSON.domBoolsJSON.resizeEnableTemplate"

                        r-directions="['right','bottom', 'left', 'top']"


                     ng-class='{errorClass:canvasJSON.errorMessage}'
                         style="margin-top: 250px; margin-left:75px;max-width:500px;max-height:300px;background-color:{{canvasJSON.canvasBackground}};  width:{{canvasJSON.widthCanvas}}px;height:{{canvasJSON.heightCanvas}}px;background-size:100% auto;background-repeat:no-repeat;vertical-align: middle;table-layout: fixed">
                    <div tookit role="maincanvas"></div>


                    <!--image div start-->
                    <div ng-show="canvasJSON.newImage" ng-repeat=" i in canvasJSON.canvasLayer" draggable enabled="true">

                        <div
                                id= {{'image-'+$index}}
                                resizable
                                resize-enable="true"
                                r-directions="['right','bottom', 'left', 'top']"
                                class="placeholderImage"
                                ng-mouseover="createIdFunction('image-'+$index)"
                                ng-mouseleave="enableHoverOnImage()"
                                style="margin-top: 34px;max-width:{{canvasJSON.widthCanvas}}px;max-height:{{canvasJSON.heightCanvas-100}}px;background-repeat: no-repeat;background-size: 100% auto;background-position:center;width: 400px;height: 400px;background-image: url({{canvasJSON.imagePlaceHolder}})">
                            <div  tookit role="image"></div>


                        </div>
                    </div>


                    <!--<dynamic></dynamic>-->
                    <!--image div end-->
                    <!--Text Editor div start-->
                    <div draggable enabled="true" ng-repeat="t in canvasJSON.textEditLayer">


                        <p  ng-show="canvasJSON.newTextBox" editable-text="canvasJSON.textEditLayer[$index]" style=" z-index:800    ;font-family: {{canvasJSON.selectFont}};color:{{canvasJSON.fontColor}};
                        font-size: {{canvasJSON.fontSize}}px; word-wrap: break-word;overflow:
                         visible; overflow-x: visible;background-color: {{canvasJSON.fontBackgroundColor}};
                           " >{{canvasJSON.textEditLayer[$index]||'empty'}}
                        </p>



                    </div>

                    <!--Text Editor div end-->
                </div>
            </td>
            <td style="width:20%; height: 100%;background-color: lightgray ">

                <div style="border:2px solid black; display:inline-block;width:100%; height: 100%; ">
                    Width:<input  type="number"  ng-model="canvasJSON.widthCanvas" ng-keyup="checkOut()" ng-keypress="checkOut()" ng-mouseup="checkOut()" ng-mousedown="checkOut()" ng-keydown="checkOut()"><br><br>
                    Height:<input type="number"  ng-model="canvasJSON.heightCanvas" ng-keyup="checkOut()" ng-keypress="checkOut()" ng-mouseup="checkOut()" ng-keydown="checkOut()" ng-mousedown="checkOut()"><br>
                   <hr><br>
                    <span id="demo" style="color:red;"></span>
                    <div>

                    <button style="background-color: dimgrey;color:white; max-width:80px;font-size: 12px; text-align:center;" ng-repeat="x in canvasJSON.buttonName" ng-click="show($index)">{{x}}</button>
                        <hr><br>

                    </div>

                </div>
            </td>
            <td style="width:30%;height: 100%;background-color: linen;" >

                  <!--<image src="{{image}}" width="300px" height="45px" alt="image not upload" ng-model="image"/>-->
                <div  class="preview">
                    <div draggable enabled = "canvasJSON.domBoolsJSON.enableTemplate"   class="pre" ng-include src="'/partials/shared/headshot.html'"   ng-show="canvasJSON.booleans == 0"></div>
                <div draggable enabled = "canvasJSON.domBoolsJSON.enableTemplate"   class="pre"ng-include src="'/partials/shared/clientLogo.html'"   ng-show="canvasJSON.booleans == 1"></div>
                <div draggable enabled = "canvasJSON.domBoolsJSON.enableTemplate"  class="pre" ng-include src="'/partials/shared/description.html'" ng-show="canvasJSON.booleans == 2"></div>
                <div draggable enabled = "canvasJSON.domBoolsJSON.enableTemplate"  class="pre" ng-include src="'/partials/shared/banner.html'"      ng-show="canvasJSON.booleans == 3"></div>
                <div draggable enabled = "canvasJSON.domBoolsJSON.enableTemplate"  class="pre" ng-include src="'/partials/shared/button.html'"      ng-show="canvasJSON.booleans == 4"></div>
                </div>
            </td>
        </tr>
    </table>


</div>
<div ng-include src="'/partials/shared/footer.html'"></div>
</div>
